@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {margin: 0;
      padding: 0;
      background-color: #EDEDED;}

.grid {display: grid;
      grid-template-columns: repeat(26, 40.5px);
      grid-template-rows: repeat(43, 15px);
      grid-column-gap: 15px;
      grid-row-gap: 5px;
      width: 100%;
      position: absolute;}

.grid2 {display: grid;
      grid-template-columns: repeat(44, 22px);
      grid-template-rows: repeat(70, 15px);
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      left: 84px;
      position: absolute;
      top: 890px;}

.grid3 {display: grid;
      grid-template-columns: repeat(26, 40.5px);
      grid-template-rows: repeat(18, 10px);
      grid-column-gap: 15px;
      grid-row-gap: 3px;
      position: absolute;
      top: 2500px;
      background-color: black;}

.grid-menu {display: grid;
      grid-template-columns: repeat(26, 40.5px);
      grid-template-rows: repeat(43, 15px);
      grid-column-gap: 15px;
      grid-row-gap: 5px;
      width: 100%;
      position: absolute;
      z-index: 105;
      cursor: pointer;}

/*ФОН*/
.ass {grid-row-start: 1;
     grid-column-start: 1;
	   grid-column-end: 27;}
/*ФОН*/


/*ТЕКСТ*/
.tc {grid-row-start: 15;
    grid-column-start: 3;
    position: absolute;
    z-index: 5;
    padding-left: 20px;}

.text-sale{
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 80px;
  z-index: 100;
  grid-column-start: 3;
}

#tri{
  grid-column-end: 20;
  grid-row-start: 12;
  margin-left: 40px;}

#shapki{
  grid-column-end: 20;
  grid-row-start: 16;
  margin-left: 45px;}

#cena{
  grid-column-end: 20;
  grid-row-start: 20;
  margin-left: 30px;}

#dva{
  grid-column-end: 20;
  grid-row-start: 24;
  margin-left: 100px;}
/*ТЕКСТ*/


/*МОПС1*/
.moc {grid-row-start: 5;
      grid-column-start: 9;}
/*МОПС1*/


/*МОПС2*/
.mopc {grid-row-start: 5;
       grid-column-start: 9;}
/*МОПС2*/



/*МЕНЮ ЗАКРЫТОЕ*/
.m1{
  animation: ma 1s linear;
  position: absolute;
  left: 0;
  transition: 0.75s all;
  z-index: 101;}

.m12 {
  animation: man 1s linear;
  position: absolute;
  left: -100px;
  transition: 1.5s all;
  z-index: 101;}

#menu{
  height: 767px;
  grid-row-start: 1;
  position: absolute;
  grid-template-columns: 1;
  z-index: 101;}

#hc{
  top: 15px;
  left: 0;
  position: absolute;
  cursor: pointer;
  z-index: 102;}

#hc:hover {transition: 0.5s all;
  opacity: 0.5;}

#hc:not(:hover){
  transition: 0.5s all;
  opacity: 1;}

@keyframes ma {
    100% {transform: translateX(0px);}}

@keyframes man {
    100% {transform: translateX(-100px);}}

#closed{
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 7px;}

#log{
  grid-column-start: 2;
  cursor: pointer;
  margin-left: 10px;}

#log:hover{
  text-decoration: underline;}

#reg{
  grid-column-start: 3;
  margin-left: 28px;}

#reg:hover{
  text-decoration: underline;}

.spisok{
  list-style: none;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 14;}

.spisok li{
  padding-bottom: 46px;
  font-size: 23px;
  cursor: pointer;}

.spisok li:hover{
  text-decoration: underline;}

#catalog{
  padding-left: 50px;}

#pop{
  padding-left: 27px;}

#new{
  padding-left: 44px;}

#bests{
  padding-left: 24px;}

#spec{
  padding-left: 17px;}
/*МЕНЮ ЗАКРЫТОЕ*/

/*МЕНЮ ИКОНКИ*/
.icon1{
  grid-column-start: 1;
  grid-row-start: 30;
  z-index: 105;
  position: absolute;
  margin-left: 17px;
  height: 30px;}

.icon1:hover{
  transition: 0.5s all;
  opacity: 0.5;}

.icon1:not(:hover){
  transition: 0.5s all;
  opacity: 1;}

.icon2{
  grid-column-start: 1;
  grid-row-start: 33;
  z-index: 105;
  position: absolute;
  margin-left: 17px;
  height: 30px;}

.icon2:hover{
  transition: 0.5s all;
  opacity: 0.5;}

.icon2:not(:hover){
  transition: 0.5s all;
  opacity: 1;}

.icon3{
  grid-column-start: 1;
  grid-row-start: 36;
  z-index: 105;
  position: absolute;
  margin-left: 17px;
  height: 30px;}

.icon3:hover{
  transition: 0.5s all;
  opacity: 0.5;}

.icon3:not(:hover){
  transition: 0.5s all;
  opacity: 1;}
/*МЕНЮ ИКОНКИ*/

/*МЕНЮ ОТКРЫТОЕ*/
.m2{animation: me 1s linear;
  position: absolute;
  transition: 0.5s all;  
  left: -350px;
z-index: 100;}

.m22 {
  animation: men 1s linear;
  position: absolute;
  left: 0px;
  transition: 0.5s all;
z-index: 100;}

@keyframes me {
    100% {transform: translateX(-350px);}}

@keyframes men {
    100% {transform: translateX(0px);}}

#mec{height: 767px;
    top: 0;
    position: absolute;
    z-index: 103;}

#xc {top: 0;
    position: absolute;
    cursor: pointer;
    z-index: 104;}

#xc:hover {transition: 0.5s all;
  opacity: 0.5;}

#xc:not(:hover){
  transition: 0.5s all;
  opacity: 1;}

#bl{height: 155px;
  position: absolute;
  z-index: 150;
  top: 65px;
  left: 72px;
  animation: a 20s linear;animation-iteration-count: infinite;}

#ge{height: 155px;
  position: absolute;
  z-index: 150;
  top: 65px;
  left: 72px;
  animation: aa 20s linear;animation-iteration-count: infinite;}

#gre{height: 155px;
  position: absolute;
  z-index: 150;
  top: 65px;
  left: 72px;
  animation: aaa 20s linear;animation-iteration-count: infinite;}

#ye{height: 155px;
  position: absolute;
  z-index: 150;
  top: 65px;
  left: 72px;
  animation: aaaa 20s linear;animation-iteration-count: infinite;}

#or{height: 155px;
  position: absolute;
  z-index: 150;
  top: 65px;
  left: 72px;
  animation: aaaaa 20s linear;animation-iteration-count: infinite;}

#re{height: 155px;
  position: absolute;
  z-index: 150;
  top: 65px;
  left: 72px;
  animation: aaaaaa 20s linear;animation-iteration-count: infinite;}

#pu{height: 155px;
  position: absolute;
  z-index: 150;
  top: 65px;
  left: 72px;
  animation: aaaaaaa 20s linear;animation-iteration-count: infinite;}

@keyframes a {
    0% {opacity: 1}
    14% {opacity: 0}
    29% {opacity: 0}
    43% {opacity: 0}
    57% {opacity: 0}
    71% {opacity: 0}
    86% {opacity: 0}
    100% {opacity: 1}}

@keyframes aa {
    0% {opacity: 0}
    14% {opacity: 1}
    29% {opacity: 0}
    43% {opacity: 0}
    57% {opacity: 0}
    71% {opacity: 0}
    86% {opacity: 0}
    100% {opacity: 0}}

@keyframes aaa {
    0% {opacity: 0}
    14% {opacity: 0}
    29% {opacity: 1}
    43% {opacity: 0}
    57% {opacity: 0}
    71% {opacity: 0}
    86% {opacity: 0}
    100% {opacity: 0}}

@keyframes aaaa {
    0% {opacity: 0}
    14% {opacity: 0}
    29% {opacity: 0}
    43% {opacity: 1}
    57% {opacity: 0}
    71% {opacity: 0}
    86% {opacity: 0}
    100% {opacity: 0}}

@keyframes aaaaa {
    0% {opacity: 0}
    14% {opacity: 0}
    29% {opacity: 0}
    43% {opacity: 0}
    57% {opacity: 1}
    71% {opacity: 0}
    86% {opacity: 0}
    100% {opacity: 0}}

@keyframes aaaaaa {
    0% {opacity: 0}
    14% {opacity: 0}
    29% {opacity: 0}
    43% {opacity: 0}
    57% {opacity: 0}
    71% {opacity: 1}
    86% {opacity: 0}
    100% {opacity: 0}}

@keyframes aaaaaaa {
    0% {opacity: 0}
    14% {opacity: 0}
    29% {opacity: 0}
    43% {opacity: 0}
    57% {opacity: 0}
    71% {opacity: 0}
    86% {opacity: 1}
    100% {opacity: 0}}
/*МЕНЮ ОТКРЫТОЕ*/



/*Это отвечает за скроллбар*/
{ scrollbar-width: thin;
  scrollbar-color:  #555652 #383934;
  position: static;}

*::-webkit-scrollbar,
html *::-webkit-scrollbar 
{height: 12px;
  width: 12px;}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track 
{background: #383934;
  width: 7px;}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb 
{background-color: #555652;
  border-radius: 10px;
  border: 3px solid #383934;}
/*Это отвечает за скроллбар*/


/*РАЗДЕЛЫ*/
.t {
  grid-row-start: 42;
  grid-column-start: 3;}
/*РАЗДЕЛЫ*/


/*ТОВАР1*/
.t1 {
  grid-row-start: 1;
  grid-column-start: 2;
  height: 404px;
  z-index: 999;
  cursor: pointer;}

.pr1 {
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 3000;
  cursor: pointer;}

.cap {
  grid-row-start: 4;
  grid-column-start: 2;
  transition: 0.5s all;
  z-index: 2000;
  cursor: pointer;}

.btn {
  grid-row-start: 22;
  grid-column-start: 2;
  width: 273px;
  transition: 0.5s all;
  z-index: 2001;
  cursor: pointer;}

.capv {
  transition: 0.5s all;
  transform: translateY(-60px);
  cursor: pointer;}

.btv{
  transition: 0.5s all;
  transform: translateY(-140px);
  cursor: pointer;}
/*ТОВАР1*/


/*ТОВАР2*/
.t2 {
  grid-row-start: 1;
  grid-column-start: 13;
  width: 287px;
cursor: pointer;}

.pr2 {
  grid-row-start: 1;
  grid-column-start: 12;
  z-index: 3001;
cursor: pointer;}

.hat{
  grid-row-start: 5;
  grid-column-start: 13;
  transition: 0.5s all;
  z-index: 2004;
cursor: pointer;}

.btm {
grid-row-start: 22;
grid-column-start: 13;
width: 287px;
transition: 0.5s all;
z-index: 2005;
cursor: pointer;}

.hatv {
transition: 0.5s all;
transform: translateY(-55px);
cursor: pointer;}

.btmv{
transform: translateY(-140px);
transition: 0.5s all;
cursor: pointer;}
/*ТОВАР2*/



/*ТОВАР3*/
.t3 {
  grid-row-start: 31;
  grid-column-start: 25;
  height: 404px;
cursor: pointer;}

.pr4 {
  grid-row-start: 31;
  grid-column-start: 24;
  z-index: 3001;
cursor: pointer;}

.hatt{
grid-row-start: 52;
grid-column-start: 25;
width: 273px;
transition: 0.5s all;
z-index: 2005;
cursor: pointer;}

.hattv{
transform: translateY(-140px);
transition: 0.5s all;
cursor: pointer;}

.pid{
  grid-row-start: 35;
  grid-column-start: 25;
  transition: 0.5s all;
  z-index: 2000;
cursor: pointer;}

.pidv {
transition: 0.5s all;
transform: translateY(-57px);
cursor: pointer;}
/*ТОВАР3*/


/*ТОВАР4*/
.t4 {
  grid-row-start: 31;
  grid-column-start: 36;
  width: 287px;
cursor: pointer;}

.pr3 {
  grid-row-start: 31;
  grid-column-start: 35;
  z-index: 3001;
cursor: pointer;}

.fat{
grid-row-start: 52;
grid-column-start: 36;
width: 287px;
transition: 0.5s all;
z-index: 2005;
cursor: pointer;}

.fatv{
transform: translateY(-140px);
transition: 0.5s all;
cursor: pointer;}

.fid{
  grid-row-start: 34;
  grid-column-start: 36;
  transition: 0.5s all;
  z-index: 2000;
cursor: pointer;}

.fidv {
transition: 0.5s all;
transform: translateY(-55px);
cursor: pointer;}
/*ТОВАР4*/



/*БОЛЬШИЕ ШАПКИ*/
.r1 {
  grid-row-start: 1;
  grid-column-start: 25;
  height: 544px;
  z-index: 3999;
cursor: pointer;}

.r2 {
  grid-row-start: 24;
  grid-column-start: 2;
  height: 544px;
  z-index: 3999;
cursor: pointer;}

.r2:hover {
  transition: 0.7s all;
  transform: scale(1.05);}

.r1:hover {
  transition: 0.7s all;
  transform: scale(1.05);}

.r1:not(:hover){
  transition: 0.7s all;
  transform: scale(1);}

.r2:not(:hover){
  transition: 0.7s all;
  transform: scale(1);}

.n1 {
  grid-row-start: 1;
  grid-column-start: 24;
  z-index: 4000;}

.n2 {
  grid-row-start: 24;
  grid-column-start: 1;
  z-index: 4000;}
/*БОЛЬШИЕ ШАПКИ*/


/*БОЛЬШИЕ МОПСЫ*/
.buy1 {
  grid-row-start: 55;
  grid-column-start: 25;
  width: 584px;
  z-index: 4000;}

.buy2 {
  grid-row-start: 55;
  grid-column-start: 2;
  width: 584px;
  z-index: 4000;}
/*БОЛЬШИЕ МОПСЫ*/



/*:>*/
.df{
  grid-row-start: 21;
  grid-column-start: 1;
  z-index: 3500;}

.sf{
  grid-row-start: 51;
  grid-column-start: 24;
  z-index: 3500;}
/*:>*/



/*ФУТЕР*/
.companyName{
  grid-column-start: 2;
  grid-row-start: 4;
  height: 30px;}

.descr{color: white;
  font-family: 'Play', sans-serif;
  font-size: 20px;
  z-index: 105;
  cursor: pointer;
}

.descr:hover{
  text-decoration: underline;}

#about{grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 8;}

#shops{grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 11;}

#contacts{grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 14;}

.S{
grid-column-start: 12;
height: 18px;
grid-row-start: 16;}

.gr{
grid-column-start: 21;
height: 170px;
grid-row-start: 3;}
/*ФУТЕР*/


